<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/cart.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel= "shortcut icon" type="image/png" href="images/solapa.png">

    <title>Cart</title>
</head>
<body>
    
    <!-- header -->
    <%-include('../partials/header')%>

    <main>

        <!-- Step Bar-->

        <section class="step-bar">
            <div>
                <h3 class="step-cart">1. Carrito</h3>
            </div>

            <div class="step-pay">
                <h3>2. Opciones de Pago</h3>
            </div>
        </section>

        <!-- Carrito de Compras -->

        <section class="container-cart-products">

            <h3 class="cart-products-title">Compras</h3>
            <article class="cart-products-1">
                    <img src="images/lolita.jfif" class="cart-products-img" alt="lolita">
                    <div class="cart-products-name">
                        <h3 class="cart-album">Lolita</h3>
                            <p class="cart-artist-name">Bright Light Bright Light</p>
                            <p class="cart-price">$1000</p>
                    </div>
            </article>

            <article class="cart-products-2">
                <img src="images/behind-the-mask.jpg" class="cart-products-img" alt="behind-the-mask">
                <div class="cart-products-name">
                    <h3 class="cart-album">Behind the Mask</h3>
                        <p class="cart-artist-name">Bianca Carey</p>
                        <p class="cart-price">$950</p>
                </div>
            </article>

        </section>

        <section>

            <!-- Resumen -->
            <div class="container-summary">
                <h3 class="summary-title">Resumen</h3>

                <div class="summary-subtotal">
                    <p>SUBTOTAL</p>
                    <p>$600</p>
                </div>

                <div class="summary-ship">
                    <p>ENVIO</p>
                    <p>GRATIS</p>
                </div>

                <div class="summary-tax">
                    <p>IVA</p>
                    <p>$130</p>
                </div>

                <div class="summary-full-price">
                    <p>TOTAL</p>
                    <p>$730</p>
                </div>

            </div>

            <!-- Botones -->
            <div class="container-buttons">   
            <a href="#" class="next-button">Siguiente</a>

            <a href="#" class="cancel-button">Cancelar</a>

            </div>
        </section>
    </main>
    <!-- footer -->
    <%-include('../partials/footer')%>
</body>
</html>