<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <title>NFT</title>
</head>
<body>
    <!-- barra de navegación -->
    <nav class="navbar">
        <img src="images/NFT-logo.png" width="120" alt="Logo">
        <div class="brand-title">NFT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#"> SECTION1</a></li>
                <li><a href="#">SECTION2</a></li>
                <li><a href="#">SECTION3</a></li>
            </ul>
        </div>
        <!-- iconos de login, singin y carrito -->
        <div class="iconos">
        <li><a href="/register">  <i class="fas fa-user"></i></a></li>
        <li><a href="/login"> <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/carrito"> <i class="fas fa-shopping-cart"></i></a></li>
        </div>
        </div>
    </nav>

    <!-- cuerpo de la pagina -->
    <main>
        <section>
        
        </section>
    </main>

    <!-- pie de pagina -->
    <footer>
        <div class="footer-content">
            <img src="images/NFT-logo.png" width="70" alt="Logo">
            <address class="direccion">Guido 2078<br>Buenos Aires<br>Mar del plata<br> cp:7600</address>
            <ul class="footer-links">
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/privacidad">Privacidad</a></li>
                <li><a href="/news">News</a></li>
            </ul>
            <!-- social media -->
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
            </ul>
            <!-- copyright -->
        </div>
        <div class="footer-bottom">
            <p>copiright &copy;2020 NFT. designed by <span>DigitalHouse</span></p>
        </div>
    </footer>
</body>
</html>

