<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">   
    
    <title>NFT</title>
</head>
<body>
    <nav class="navbar">
        <img src="images/NFT-logo.png" width="120" alt="Logo">
        <div class="brand-title">NFT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#"> SECTION1</a></li>
                <li><a href="#">SECTION2</a></li>
                <li><a href="#">SECTION3</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>