<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>NFT</title>
</head>
<body>
    <!-- barra de navegación -->
    <nav class="navbar">
        <div class="logotipo">
        <img src="images/NFT-logo.png" width="100" alt="Logo" >
        </div>
        <div class="brand-title">NFT</div>
        <div class="navbar-links">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#"> SECTION1</a></li>
                <li><a href="#">SECTION2</a></li>
                <li><a href="#">SECTION3</a></li>
            </ul>
        </div>
        <!-- iconos de login, singin y carrito -->
        <div class="iconos">
        <li><a href="/register">  <i class="fas fa-user"></i></a></li>
        <li><a href="/login"> <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/carrito"> <i class="fas fa-shopping-cart"></i></a></li>
        </div>
        </div>
    </nav>

    <!-- cuerpo de la pagina -->
    <main>
        <!-- fondo de pantalla -->
        <section>
            <div class="background">
            </div>
        </section >
        <!-- Titulo producto destacado -->
        <div class="producto-destacado">
            <h3>Producto destacado</h3>
        </div>
        <!-- Productos destacads -->
        <div class="box-conteiner">
            <div class="box">
                <div class="image">
                    <img src="/images/NFT1.png" alt="img1">
                </div>
                <!-- PROUCTO 1 -->
                <div class="info">
                    <h3 class="title">Pear bitch</h3>
                    <div class="subInfo">
                    <div class= "price">$7000<span>$6000</span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                    </div>
                </div>
            </div>
                <!-- PRODUCTO 2 -->
            <div class="box">
                <div class="image">
                    <img src="/images/NFT2.png" alt="img2">
                </div>

                <div class="info">
                    <h3 class="title">Emojicon</h3>
                    <div class="subInfo">
                    <div class= "price">$20<span>$600</span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                   </div>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="banner-image">
                <img src="/images/banner.jpg" alt="img2">
            </div>
        </div>

    <!-- footer -->
    <footer>
        <div class="footer-content">
            <img class= "logo-footer" src="images/NFT-logo.png" width="70" alt="Logo">
            <!-- footer links -->
            <ul class="footer-links">
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/privacidad">Privacidad</a></li>
                <li><a href="/news">News</a></li>
            </ul>
            <!-- social media -->
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
            </ul>
            <!-- copyright -->
        </div>
        <div class="footer-bottom">
            <p>copiright &copy;2020 NFT. designed by <span> equipo-10</span></p>
        </div>
    </footer>
</body>
</html>

