<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/productstyle.css">
    <title>Product</title>
</head>
<body>
    <main>
        <section>
            <article class="main-product">
                <img src="images/jessie-ware.jpg" class="product-img" alt="WYP">
                <div class="product-details">
                    <h3>What's Your Pleasure?</h3>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                    <a href="#"><i class="fas fa-star"></i></a>
                        <p>$1232</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum recusandae fugit beatae quas nam hic reiciendis assumenda, in voluptates eius laudantium, excepturi nobis sit nostrum adipisci repellendus molestiae error tempora.</p>
                </div>
                <div>
                    <a href="#"> <i class="fas fa-shopping-cart"></i></a>
                </div>
            </article>
        </section>
        <div class="artist">
            <section>
                <div><img src="" alt=""></div>
                
                <h3>Jessie Ware</h3>
                    <p>0208</p>
                    <div>
                        <! acá va el ícono del ranking>
                    </div>
                    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quo tempore sunt repellat blanditiis maiores, reprehenderit aliquid, delectus et distinctio earum pariatur excepturi est non eum voluptatum dolor fuga neque.</P>
            </section>
        </div>    
        <section class="similar-products">
            <h3>Productos Similares</h3>
                <div class="products">
                    <article class="product">
                        <img src="" alt="">
                        <div class="main-article">
                            <h4>Product</h4>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <p>Precio</p>
                        </div>
                    </article>
                    <article class="product">
                        <img src="" alt="">
                        <div class="main-article">
                            <h4>Product</h4>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <p>Precio</p>
                        </div>
                    </article>
                    <article class="product">
                        <img src="" alt="">
                        <div class="main-article">
                            <h4>Product</h4>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <i class="fas fa-star"></i>
                            <p>Precio</p>
                        </div>
                    </article>
                </div>
        </section>
    </main>
</body>
</html>