<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css"> 
    <link rel="stylesheet" href="/css/style.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">

    <title>Register</title>
</head>
<body>
        <!-- barra de navegación -->
    <header>
        <nav class="navbar">
            <div class="logotipo">
            <img src="images/NFT-logo.ico" width="80" alt="Logo" >
            </div>
            <div class="brand-title"><h1>NFT</h1></div>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        <!-- links -->
            <div class="navbar-links">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#"> SECTION1</a></li>
                    <li><a href="#">SECTION2</a></li>
                    <li><a href="#">SECTION3</a></li>
                </ul>
            </div>
         <!-- iconos de login, singin y carrito -->
            <div class="iconos">
            <li><a href="/register"> <i class="fas fa-user"></i></a></li>
            <li><a href="/login"> <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/carrito"> <i class="fas fa-shopping-cart"></i></a></li>
            </div>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <form class="form-register" action="/register" method="POST">
                <h4>REGISTRARSE</h4>
                <p class= "asd">¿Ya estás registrado? <a href="#">Inicia sesión</a></p>
                <div class="form-control">           
                    <i class="fas fa-id-card icons"></i>
                    <input type="text" name="nombre" class="form-input" placeholder="Nombre"> 
                </div>
                <div class="form-control">        
                    <i class="far fa-id-card icons"></i>
                    <input type="text" name="apellido" class="form-input" placeholder="Apellido">
                </div>
                <div class="form-control">    
                    <i class="fas fa-envelope icons"></i>
                    <input type="email" name="email" class="form-input" placeholder="Email">
                </div>
                <div class="form-control">      
                    <i class="fas fa-key icons"></i>
                    <input type="password" name="contraseña" class="form-input" placeholder="Contraseña"> 
                </div>  
                <div class="form-control">     
                    <i class="fas fa-key icons"></i>
                    <input type="password" name="contraseña" class="form-input" placeholder="Confirma tu constraseña">
                </div>
                <div class="form-control">
                    <input type="checkbox" name="politica" value="politica-privacidad" id="politica-privacidad">
                    <label for="politica-privacidad">Acepto los <a href="#">Terminos y Condiciones</a></label>
                </div>
                <div class="form-control">
                    <input type="checkbox" name="mails" value="mails-promocinales" id="mails-promocionales">
                    <label for="mails-promocionales">Acepto que me manden mails promocionales</label>
                </div>
                <div class="form-control">
                    <input type="checkbox" name="sesión" value="sesión-iniciada" id="sesión-iniciada">
                    <label for="sesión-iniciada">Mantener la sesión iniciada</label>
                </div>
                <button type="submit" class="button">Registrarse</button>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <img class= "logo-footer" src="images/NFT-logo.ico" width="70" alt="Logo">
            <!-- footer links -->
            <ul class="footer-links">
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/privacidad">Privacidad</a></li>
                <li><a href="/news">News</a></li>
            </ul>
            <!-- social media -->
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
            </ul>
            <!-- copyright -->
        </div>
        <div class="footer-bottom">
            <p>copiright &copy;2020 NFT. designed by <span> equipo-10</span></p>
        </div>
    </footer>
</body>
</html>