@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */


*{
font-family: 'Comfortaa';
margin: 0;
padding: 0;
box-sizing: border-box;
}
span{
	font-family: 'Roboto';
    font-family: 'Roboto', sans-serif;
}
body{
line-height: 1.5;
background-image: url("/images/fondo-product.jpeg");
background-size: cover;
}

.container{


	max-width: 1200px;

	margin: 0 auto;

	margin-top: 100px;

}

.container > h1{

	padding: 20px 0;
	

}

.cart{

	display: flex;

}

.products{

	flex: 0.75;
	overflow-y: scroll;
	height: 75vh;

}

.product{


	display: flex;

	width: 100%;

	height: auto;

	overflow: hidden;

	margin-bottom: 20px;

}



.product > img{

	width: 300px;

	height: 200px;

	object-fit: cover;

}

.product > img:hover{

	transform: scale(1.04);

}

.product-info{

	padding: 20px;

	width: 100%;

	position: relative;

}

.product-name, .product-price, .product-offer{

	margin-bottom: 20px;
}

.product-remove{

	position: absolute;

	bottom: 20px;

	right: 20px;

	padding: 10px 25px;

	background-color: #e70f0f;

	color: white;

	cursor: pointer;

	border-radius: 5px;

}

.product-remove:hover{

	background-color: white;

	color: #e70f0f;

	font-weight: 600;

	border: 1px solid #e70f0f;

}

.product-quantity > input{

	width: 40px;

	padding: 5px;

	text-align: center;

}

.fa{

	margin-right: 5px;

}

.cart-total{

	flex: 0.25;

	margin-left: 20px;

	padding: 20px;

	height: 240px;

	border: 1px solid silver;

	border-radius: 5px;

	display: flex;

    flex-direction: column;
	
    justify-content: space-between;

}

.cart-total p{

	display: flex;

	justify-content: space-between;

	margin-bottom: 30px;

	font-size: 20px;

}

.cart-total button{

	border-radius: 4px;
    margin-right: 14px;
    box-shadow: inset 0px 1px 0px 0px #54b708;
    background: linear-gradient(to bottom, #54b708 5%, #54b708 100%);
    border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #54b708;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 13px;
    padding: 12px 92px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #54b708;
    margin-bottom: 30px;


}

.cart-total button:hover{

	background-color: red;

}

.cart-products-1 .cart-products-img {
    width: 140px;
    margin: auto;
    height: 140px;
    object-fit: cover;
}

@media screen and (max-width: 700px){

	.remove{

		display: none;

	}

	.product{

		height: 150px;

	}

	.product > img{

		height: 150px;

		width: 200px;

	}

	.product-name, .product-price, .product-offer{

		margin-bottom: 10px;

		font-family: 'Roboto';


	}

}

@media screen and (max-width: 900px){

	.cart{

		flex-direction: column;

	}

	.cart-total{

		margin-left: 0;

		margin-bottom: 20px;

	}

}

@media screen and (max-width: 1220px){

	.container{

		max-width: 95%;

	}

}

