@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #2A2A2A;
}

form {
    color: #2A2A2A;
    height: 362px;
    width: 400px;
    margin: auto;
    margin-bottom: 10vh;

    font-family: verdana;
    background-color: #ffffff;
    padding: 30px 10px;
    box-shadow: 0 0 6px 0 #0F0F0F;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-container {
    margin-top: 120px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #2A2A2A;
    color: #2A2A2A;
}

.form-control {
    position: relative;
    margin: 3%;
}

h4 {
    text-align: center;
    font-weight: 700;
}

.form-input {
    width: 85%;
    padding: 0.3rem;
    margin: 0.30rem;
    text-align: center;
}

.form-input:focus {
    outline: none;
}

.icons {
    color: #0F0F0F;
}

.button {
    position: relative;
    left: 8.3rem;
	background-color:#2A2A2A;
	border-radius:28px;
	border:1px solid #2A2A2A;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:9px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    transition: all 450ms;
} 

.button:hover {
    background-color: #0F0F0F;
}


.hipervinculo {
    position: relative;
    bottom: -50px;
    text-align: center;
}

a {
    color: #ff3333;
}
