@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Main Product */

.main-product {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.product-img {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    height: vh;
}

.product-details {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}

.product-details h3{
    font-size: 30px;
    justify-content: center;
}

.product-details a{
    align-self: bottom;
}