@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;


}

/* Main Product */
.body{
    background-image: url("/images/fondo-product.jpeg");

}

.container-product {

    display: flex;
    margin-top: 25vh;
    margin-bottom: 20px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    margin-left: 50vh;
}


.product-img {
    height: 45vh;
    width: 45vh;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,.7 ));
    margin-left: 40px;
    padding: 30px;
}

article.container-product .product-name {
    align-items: center;
    width: 60%;
    margin: 15px;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 358px;
}


article.container-product .ranking {
    padding: 0px;
    margin-top: 10px;
    color: black;
    transition: color 700ms;
    font-size: 20px;
}


article.container-product .ranking:hover{
    color: gold;
}


.product-name h3{
    font-size: 30px;
    justify-content: center;
}


article.container-product .box-price{
    position: absolute;
    bottom: 24px;
    left: 55vh;
    font-size: 35px;
    border-top: 5px solid #2A2A2A;
    border-bottom: 5px solid #2A2A2A;
    width: 55vh;
    padding: 10px;
    text-align: center;
}


article.container-product .box-description {
    align-self: flex-end;
    position: absolute;
    text-align: justify;
    width: 60%;
    font-size: 15px;
    left: 55vh;    
}


.add-button {
    position: relative;
    left: 8.3rem;
	background-color:#2A2A2A;
	border-radius:28px;
	border:1px solid #2A2A2A;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:9px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    transition: all 450ms;
    position: absolute;
    left: 55vh;
    bottom: 135px;
}

.add-button:hover {
    background-color: #0F0F0F;
}

.edit-button {
    position: relative;
    /* left: 8.3rem; */
	background-color:#2A2A2A;
	border-radius:28px;
	border:1px solid #2A2A2A;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:9px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    transition: all 450ms;
    position: absolute;
    left: 74vh;
    bottom: 135px;
}

.edit-button:hover {
    background-color: #0F0F0F;
}

.delete-button {
	background-color:#2A2A2A;
	border-radius:28px;
	border:1px solid #2A2A2A;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:9px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    transition: all 450ms;
    position: absolute;
    left: 93vh;
    bottom: 135px;
}

.delete-button:hover {
    background-color: #0F0F0F;
    text-decoration: none;
}

a {
    color:#ffffff;
    text-decoration: none;
}

/* Artist */

.container-artist {

    /* background-color: violet; */
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin-left: 339px;
    padding-top: 100px;

    
    
}

.container-artist .artist-img {
    width: 150px;
    height: 150px;
    max-height: 150px;
    max-width: 150px;
    /* border: 5px solid #666; */
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 109px;
    filter: drop-shadow(5px 5px 7px rgba(0,0,0,.7 ));
}

h3.artist-name{
    font-size: 20px;
    margin-left: 78px;
    margin-top: 14px;
}

p.artist-code {
    font-weight: bold;
    position: absolute;
    bottom: 108px;
    left: 51vh;
    font-size: 15px;
}

.container-artist .ranking {
    color: black;
    transition: color 700ms;
    position: absolute;
    top: 198px;
    left: 51vh;
}

.container-artist .ranking:hover{
    color: gold;
}

p.artist-description {
    font-size: 16px;
    align-self: flex-end;
    width: 60%;
    position: absolute;
    left: 338px;
    bottom: 75px;
    text-align: justify;
}

/* Similar Products */
.similar-products-name{
    margin-right: 100px;
}

h3.similar-products-title{
    font-size: 25px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;

}

.container-similar-products {
    display: flex;
    /* box-sizing: border-box; */
    /* position: relative; */
    justify-content: space-evenly;

}

.container-similar-products .similar-products-img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-bottom: 50px;
    margin-left: 35px;
    margin-top: 10px;
    justify-content: center;
    filter: drop-shadow(5px 5px 7px rgba(0,0,0,.7 ));

}


h3.similar-album{
    font-size: 20px;
    margin-right: 120px;
    margin-top: 10px;
}

p.similar-price {
    font-weight: bold;
    position: absolute;
    font-size: 20px;
}

.container-similar-products .ranking {
    color: #0F0F0F;
    transition: color 700ms;
    margin-top: 50px;
    margin-bottom: 10px;
}

.container-similar-products .similar-name{
    color: #0F0F0F;
    transition: color 700ms;
    margin-top: 40px;
    margin-bottom: 10px;

}
.container-similar-products .similar-price{
    color: #0F0F0F;
    transition: color 700ms;
   
}



.container-similar-products .ranking:hover{
    color: gold;
}