@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0
}

.background-login1{
    height: 68vh;
    width: 100%;
    background-image:  url("/images/background-image3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10vh;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items:center;

}

.form-register h4 {
    text-align: center;
    font-weight: 700;
}

form {
    width: 300px;
    height: 400px;
    margin-top: 3vh;
    font-family: verdana;
    background-color: #ffffff;
    padding: 5px 2.5px;
    box-shadow: 0 0 6px 0 #0F0F0F;
    box-sizing: border-box;
    border-radius: 10px;
}

.form-input {
    width: 90%;
    padding: 10px;
    margin: 1px;
    text-align: center;
}

.form-input:focus {
    outline: none;
}

.estas-registrado {
    text-align: center;
    margin-top: 1%;
    text-decoration: none;
    font-size: 13px;
}

.form-control {
    position: relative;
    margin: 3%;
}



.icons {
    color: #2A2A2A;
}

.button:hover {
    background-color: #0F0F0F;
}


.checkbox label {
    font-size: 13px;
    text-align: center;
} 
 
label {
    text-align: center;
    font-size: 13px;
    
} 
 
input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin-left: 15px;
}

a {
    color: #FF3333;
}

.button {
    position: relative;
    left: 85px;
	background-color:#2A2A2A;
	border-radius:28px;
	border:1px solid #2A2A2A;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size: 15px;
	padding:7px 14px;
	text-decoration:none;
    transition: all 450ms;
    margin-top: 30px;
}

.file-select {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    margin-left: 60px;
}
  
.file-select::before {
	background-color:#2A2A2A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    content: 'Upload Avatar'; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 150px;
    height: 32px;
    display: inline-block;
  }
  


.checkbox {
    margin-left: 20px;
    margin-top: 20px;
}

@media (min-width: 361px) {
    .background-login1{
        height: 76vh;
    }
    form {
        margin-top: 18vh;
    }
    
    }

@media (min-width: 769px){
    .background-login1{
        height: 78vh;
    }
    form {
    margin-top: 18vh;
    }
}