
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0
}

/* Barra de navegación */
.navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0f0f0f;
    position: fixed;
    z-index: 10;
    top: 0;

}
.brand-title h1{
    width: 100px;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;

}
.logotipo img{
    justify-content: center;
    width: 100px;
}
.burger-menu i{
    text-align: center;
    width: 100px;
    color: whitesmoke;
}


/* Links */
.navbar-links{
    text-align: center;
    display:inline-block;
    flex-direction: column;
    display: none;

}
.navbar-links ul{
    margin:0;
    padding: 0;
    display: flex;
    align-items:center;
    

}
.navbar-links li{
    list-style: none;

}
.navbar-links li a{
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1rem;
    display: flex;    

}
.navbar-links li :hover{
    background-color: #555;

}



/* iconos de login, singin y carrito */
.iconos{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;


}
.iconos li{
    margin: 0 10px;


}
.iconos a{
    text-decoration: none;
    color:white;

}
.iconos a i{
    font-size: 1.1rem;
    transition: color .4s ease;

    
}
.iconos a:hover i{
    color:aqua;

}



/* fondo de pantalla */
.background{
    background: blue;
    height: 90vh;
    width: 100%;
    background-image: url("/images/background-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 10vh;


}

.contein{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    font-weight: 700;
    text-transform: uppercase;

}

.contein h1{
    margin: 0;
    font-size: 15vw;
    text-shadow: 1px 1px 2px black;
}

.contein h1 span{
    border: 6px solid whitesmoke;
    padding: 6px 14px; 
    display: inline-block;
}
.cen{
    margin: 10px;
    display: block;
    font-size: 3vw;
    text-shadow: 1px 1px 1px black;

}
/* titulo TOP SELERS */
.producto-destacado h3{
    font-size: 4vh;
    font-family: 'Oswald' Regular 500
    , sans-serif;
    background-color: whitesmoke;
    color: #0f0f0f;
    text-align: center;
    padding-top: 30px;
    
}

    /* TOP SELERS*/
.box-conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: whitesmoke;
}
.box{
    /* flex: 1 1 300px; */
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .3);
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.box .image{
    padding: 10px;
    background: #eee;
    text-align: center;
}
.box .image img{
    height: 45vh;
    width: 45vh;
    object-fit: cover;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,.7 ));
}
.box .info .title {
    padding: 10px;
    color: #666;
    font-size: 20px;
    text-align: center;

}
.box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 1px solid rgba(0, 0, 0, .3);

}
.box .info .subInfo .price{
    color:rgba(0, 0, 0, .3);
    font-size: 20px;
}
.box .info .subInfo .price span{
    font-size: 15px;
    color: #999;
    text-decoration: line-through;

}
.box .info .subInfo .stars i{
    color: orange;
    font-size: 17px;
}
/* banner */

.banner{
    position: relative;
    background: whitesmoke;

}
.banner h3{
    position: absolute;
    font-size: 3vw;
    color: whitesmoke;
    left: 50%;
    top: 50%;
    font-weight: 700;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px #0f0f0f;
    font-family: 'Roboto', sans-serif;
    
}
section.banner img{
    width: 100%;
    background-position: center center;
    height: auto;
    
    
}

/* Staff */

.staff h3{
    font-size: 4vh;
    font-family: 'Oswald' Regular 500
    , sans-serif;
    padding-top: 20px;
    color: #0f0f0f;
    text-align: center;
    background: whitesmoke;

}
.conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: whitesmoke;
    
}
.card{
    height: 500px;
    width: 290px;
    margin: 20px;
    box-shadow:rgba(0, 3, 5, #0f0f0f);
    /* border-radius: 50px; */
    overflow: hidden;
    text-align: center;
    background-color: #222;
}
.card .bg-image img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path:polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
}
.card .pic img{
    height: 120px;
    width: 120px;
    border-radius: 100px;
    border: 10px solid #222;
    margin-top: -90px;
    position: relative;
}
.card .info h3{
    color: whitesmoke;
    font-size: 10px 0;
}
.card .info span{
    font-size: 15px;
    color: tomato;
}
.card .info p{
    font-size: 13px;
    padding: 10px 20px;
    color: #999;
}
.card .info .icons a{
    font-size: 20px;
    text-decoration: none;
    color: tomato;
    margin-top: 20px;
    padding: 0 5px;
}
.card .info .icons a:hover{
    color: aqua;
}


/* footer */

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    font-family: sans-serif;
    padding-top: 40px;
    display: flex;
    
}

.footer-content{
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content:space-around;
    bottom: 40px;
   
    
}
    /* footer links */

.footer-links li{
    display: flex;
    display:inline-block;
    margin: 0 10px;
    align-items: center;


}
.footer-links li a{
    text-decoration: none;
    list-style: none;
    color:white;
    justify-content: space-around;
    margin: 1rem 0 3rem 0;
}
.logo-footer{
    justify-content: start;

}
    /* social media */

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
    margin-top: 20px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color:aqua;
}

/* copirygth */
.footer-bottom{
    background-color: #0f0f0f;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
 }
.footer-bottom p{
    color:white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}


/* Media Ipad */
@media (min-width: 361px){
    .footer-content{
        background-color: #0f0f0f;
        display: flex;
        align-items:center;
        justify-content:space-evenly;
        text-align: center;
        bottom: 40px;
    }
    .burger-menu i{
        text-align: center;
        width: 100px;
        color: whitesmoke;
        font-size: 30px;
    }
   
}


/* Media PC */
@media (min-width: 769px){

    div.burger-menu{
    display: none;     
    }

    .navbar{
        justify-content: left;
    }
            /* Links */
    .navbar-links{
        text-align: center;
        display:inline-block;
        flex-direction: column;
    }
    .navbar-links ul{
        margin:0;
        padding: 0;
        display: flex;
        align-items:center;
    }
    .navbar-links li{
        list-style: none;
    }
    .navbar-links li a{
        text-decoration: none;
        text-align: center;
        color: white;
        padding: 1rem;
        display: flex;    
    }
    .navbar-links li :hover{
        background-color: #555;
    }
    .brand-title h1{
        text-align: left;
        width: 100px;
        color: whitesmoke;

}


        /* iconos de login, singin y carrito */
    .iconos{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: 20px;
    }
    .iconos li{
        margin: 0 10px;

    }
    .iconos a{
        text-decoration: none;
        color:white;
        
    }
    .iconos a i{
        font-size: 1.1rem;
        transition: color .4s ease;

        
    }
    .iconos a:hover i{
        color:aqua;
    }
    

    /* Staff */
    .card{
        height: 900px;
        width: 23vw;
        margin: 35px;
        box-shadow:rgba(0, 3, 5, #0f0f0f);
        /* border-radius: 50px; */
        overflow: hidden;
        text-align: center;
        background-color: #222;
    }
    .card .bg-image img{
        width: 100%;
        height: 230px;
        object-fit: cover;
        clip-path:polygon(0 0, 100% 0%, 100% 70%, 45% 100%, 0 70%);
    }
    .card .pic img{
        height: 240px;
        width: 240px;
        border-radius: 200px;
        border: 10px solid #222;
        margin-top: -90px;
        position: relative;
    }
    .card .info h3{
        color: whitesmoke;
        font-size: 4vh;
    }
    .card .info span{
        font-size: 2.5vh;
        color: tomato;
    }
    .card .info p{
        font-size: 2.5vh;
        padding: 20px 20px;
        color: #999;
        text-align:center;
        margin: 0px 10px 0px 10px;
    }
    .card .info .icons a{
        font-size: 3vh;
        text-decoration: none;
        color: tomato;
        margin-top: 20px;
        padding: 0 5px;
    }
    .card .info .icons a:hover{
        color: aqua;
    }

    /* Banner */
    .banner h3{
        position: absolute;
        font-size: 4vw;
    }    
}