<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">    
    <link rel= "shortcut icon" type="image/png" href="images/NFT-logo.png">
    <title>NFT</title>
</head>
<body>
    <!-- barra de navegación -->
    <nav class="navbar">
        <div class="logotipo">
        <img src="images/NFT-logo.ico" width="80" alt="Logo" >
        </div>
        <div class="brand-title"><h1>NFT</h1></div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    <!-- links -->
        <div class="navbar-links">
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#"> TOP SELLERS</a></li>
                <li><a href="#">STAFF</a></li>
                <li><a href="#">COLECTIONS</a></li>
            </ul>
        </div>
     <!-- iconos de login, singin y carrito -->
        <div class="iconos">
        <li><a href="/users/register"> <i class="fas fa-user"></i></a></li>
        <li><a href="/users/login"> <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="/cart"> <i class="fas fa-shopping-cart"></i></a></li>
        </div>
    </nav>

    <!-- cuerpo de la pagina -->
    <main>
        <!-- fondo de pantalla -->
        <section>
            <div class="background">
            </div>    
                <div class="contein">
                    <h1><span>NFT</span></h1>
                    <span class="cen">Art Sellers</span>
                </div>
            
        </section >
        <!-- Titulo producto destacado -->
        <div class="producto-destacado">
            <h3>TOP SELLERS</h3>
        </div>
        <!-- TOP SELERS -->
        <div class="box-conteiner">
            <div class="box">
                <div class="image">
                    <a href="/product"><img src="/images/NFT1.png" alt="img1"></a>
                </div>
                <!-- Pear bitch -->
                <div class="info">
                    <h3 class="title">Pear bitch</h3>
                    <div class="subInfo">
                    <div class= "price">$7000<span>$6000</span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                    </div>
                </div>
            </div>
                <!-- Emojicon -->
            <div class="box">
                <div class="image">
                    <img src="/images/NFT2.png" alt="img2">
                </div>

                <div class="info">
                    <h3 class="title">Emojicon</h3>
                    <div class="subInfo">
                    <div class= "price">$20<span>$600</span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                   </div>
                </div>
            </div>
            <!-- Cube -->
            <div class="box">
                <div class="image">
                    <img src="/images/NFT3.jpeg" alt="img2">
                </div>

                <div class="info">
                    <h3 class="title">Dream Cube</h3>
                    <div class="subInfo">
                    <div class= "price">$20<span>$600</span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                   </div>
                </div>
            </div>
        </div>
        <!-- banner -->
        <section class="banner">
            <h3>October special discounts</h3>
            <img src="images/banner.jpeg" alt="Banner">
        </section>

        <!-- STAFF -->
        <div class="staff"><h3> </h3></div>
        <section class="conteiner">
            
            <!-- Quique -->
            <div class="card">
                <div class="bg-image">
                    <img src="/images/bg-image.jpg" alt="#">
                </div>
            <div class="pic">
                <img src="/images/pic1.jpg" alt="">
            </div>
            <div class="info">
                <h3>Quique</h3>
                <span><i class="fas fa-code"></i>Desarrollador</span>
                <p>Soy Enrique, tengo 34 años, trabaje los últimos diez en un festival de cine de Mexico como director de programación y ediciones audio visuales .</p>
                <div class="icons">
                    <a href="https://www.facebook.com/kike.laffranconi" class="fab fa-facebook-f"></a>
                    <a href="https://www.instagram.com/kikelaffranconi/?hl=es-la" class="fab fa-instagram"></a>
                    <a href="https://github.com/QuiqueLaff" class="fab fa-github"></a>
                </div>
            </div>    
            </div>
            <!-- Ale -->
            <div class="card">
                <div class="bg-image">
                    <img src="/images/bg-image.jpg" alt="">
                </div>
            <div class="pic">
                <img src="/images/pic2.jpg" alt="">
            </div>
            <div class="info">
                <h3>Ale</h3>
                <span><i class="fas fa-code"></i>Desarrollador</span>
                <p>Soy Alejandro, 30 años - I know. Trabajo en el área de Cash Management para un banco extranjero. Britney Spears stan since 1998.</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="https://github.com/aleomg" class="fab fa-github"></a>
                </div>
            </div>    
            </div>
            <!-- Nico -->
            <div class="card">
                <div class="bg-image">
                    <img src="/images/bg-image.jpg" alt="">
                </div>
            <div class="pic">
                <img src="images/pic3.jpg" alt="">
            </div>
            <div class="info">
                <h3>Nico</h3>
                <span><i class="fas fa-code"></i>Desarrollador</span>
                <p>Soy Nicolás, 19 años, egresado hace 1 año de la secundaria, busco dar mis primeros pasos en el mundo de la tecnología mediante la programación.</p>
                <div class="icons">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="https://github.com/NicoAlbarracin" class="fab fa-github"></a>
                </div>
            </div>    
            </div>
        </section>
        <!-- Colections-->
        <section>
            <!-- Colections -->
        <div class="producto-destacado">
            <h3>COLECTIONS</h3>
        </div>
        <div class="box-conteiner">
            <!-- NBA Top shots -->
            <div class="box">
                <div class="image">
                    <img src="/images/NBA.gif" alt="NBA">
                </div>
                <div class="info">
                    <h3 class="title">NBA Top Shots</h3>
                    <div class="subInfo">
                    <div class= "price">$7000<span></span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>

                    </div>
                </div>
            </div>
                <!-- Game Boy Colection -->
            <div class="box">
                <div class="image">
                    <img src="/images/Game-boy.gif" alt="Game boy">
                </div>
                <div class="info">
                    <h3 class="title">Game Boy</h3>
                    <div class="subInfo">
                    <div class= "price">$2000<span></span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>
                   </div>
                </div>
            </div>
            <!-- Apple -->
            <div class="box">
                <div class="image">
                    <img src="/images/APPLE.gif" alt="Apple">
                </div>
                <div class="info">
                    <h3 class="title">Apple</h3>
                    <div class="subInfo">
                    <div class= "price">$2000<span></span></div>
                    <div class="stars">
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                        <i class= "fas fa-star"></i>
                    </div>
                    

                   </div>
                </div>
            </div>
            
        </div>
        </section>
    <!-- footer -->
    <footer>
        <div class="footer-content">
            <img class= "logo-footer" src="images/NFT-logo.ico" width="70" alt="Logo">
            <!-- footer links -->
            <ul class="footer-links">
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/privacidad">Privacidad</a></li>
                <li><a href="/news">News</a></li>
            </ul>
            <!-- social media -->
            <ul class="socials">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-google"></i></a></li>
            </ul>
            <!-- copyright -->
        </div>
        <div class="footer-bottom">
            <p>copiright &copy;2021 NFT. designed by <span> equipo-10</span></p>
        </div>
    </footer>
</body>
</html>

