<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />   
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/style.css">  
    <link rel= "shortcut icon" type="image/png" href="/images/solapa.png">
 
    <title>Login</title>
</head>
<body>
  <!--header  -->
  <%-include('./partials/header')%>

    <!-- cuerpo de la pagina -->
    <main>
         
        <div class= "login1">
            <div class= "background-login1">
                <div class="form-container"></div>
                    <form class = "form-login" action="/users/login" method="POST" autocomplete="off">
        
                        
                        <h4>INICIAR SESIÓN</h4>
                        
                        <div class="form-control">
                            <i class="fas fa-envelope icons"></i>
                            <input class="form-input form-email" type="text" name="email" placeholder="Email">   
                            <% if (locals.errors && errors.email ) { %>
                                <div class="text-error" style="color:red"  >
                                    <%= errors.email.msg %> 
                                </div>
                            <% } %>  
                        </div>
                        <div class="span-email-login"></div>

                        <div class="form-control">
                            <i class="fas fa-key icons"></i>
                            <input id= "checo" class="form-input form-password" type="password" name="password" placeholder="Contraseña"> 
                            <% if (locals.errors && errors.password ) { %>
                                <div class="text-error" style="color:red"  >
                                    <%= errors.password.msg %> 
                                </div>
                            <% } %>     
                        </div>
                        <div class="span-password-login"></div>

                        <br>

                        <button type="submit" class="button">Ingresar</button>
                        
                        
                        <div class="form-control">
                            <input type="checkbox" name="mostrar-password" value="" id="check">
                            <label for="">Mostrar contraseña</label>
                        </div>
                        <div class="form-control">
                            <input type="checkbox" name="remember_user" class= "form-check-input" id="check" >
                            <label for="">Recordarme</label>
                        </div>
                        <div class="hipervinculo">
                            <a href="#">Olvide mi contraseña</a>
                        </div>
                    </form>
                </div>    
            </div>
        </div>
    </main>
    <!-- footer -->
    <%-include('./partials/footer')%>
    <script src="/js/loginValidation.js"></script>
    <script src="/js/password.js"></script>
    

</body>
</html>