<!-- footer -->
<footer>
    <div class="footer-content">
        <img class= "logo-footer" src="images/NFT-logo.ico" width="70" alt="Logo">
        <!-- footer links -->
        <ul class="footer-links">
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/privacidad">Privacidad</a></li>
            <li><a href="/news">News</a></li>
        </ul>
        <!-- social media -->
        <ul class="socials">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-google"></i></a></li>
        </ul>
        <!-- copyright -->
    </div>
    <div class="footer-bottom">
        <p>copiright &copy;2021 NFT. designed by <span> equipo-10</span></p>
    </div>
</footer>