<!-- footer -->
<footer>
    <div class="footer-content">
        <img class= "logo-footer" src="/images/NFT-logo.ico" width="70" alt="Logo">
        <!-- footer links -->
        <ul class="footer-links">
            <li><a href="#staff">Contacto</a></li>
            <li><a href="https://consultoria.anexia.es/Portals/2/privacidad.JPG">Privacidad</a></li>
            <li><a href="https://es.cointelegraph.com/tags/nft">News</a></li>
        </ul>
        <!-- social media -->
        <ul class="socials">
            <li><a href="https://www.facebook.com/profile.php?id=100077303125121"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/grupo10NFT"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/grupo10dh/"><i class="fab fa-instagram"></i></a></li>
            
        </ul>
        <!-- copyright -->
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2021 NFT. designed by <span> equipo-10</span></p>
    </div>
</footer>